flow-web-login.json
[
    {
        "id": "c6fc9d1be46665f8",
        "type": "tab",
        "label": "Login Form",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a320af0c6b890805",
        "type": "group",
        "z": "c6fc9d1be46665f8",
        "name": "Login Form",
        "style": {
            "label": true
        },
        "nodes": [
            "e8a376a094957391",
            "ae328c083e283f60",
            "6b0d3d8c69049587",
            "87ae852e249148c6",
            "4f7e76f9d41e0253"
        ],
        "x": 134,
        "y": 319,
        "w": 972,
        "h": 82
    },
    {
        "id": "f715f925abc29239",
        "type": "group",
        "z": "c6fc9d1be46665f8",
        "name": "Login Submitted Form",
        "style": {
            "label": true
        },
        "nodes": [
            "f2e07ac7765d4cfc",
            "c2df1750564bf4bf",
            "a5b83d206e3ac20a",
            "6bbd88c650bcc29c",
            "c136f78c142d52c1"
        ],
        "x": 134,
        "y": 479,
        "w": 812,
        "h": 142
    },
    {
        "id": "e8a376a094957391",
        "type": "http in",
        "z": "c6fc9d1be46665f8",
        "g": "a320af0c6b890805",
        "name": "",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "ae328c083e283f60"
            ]
        ]
    },
    {
        "id": "ae328c083e283f60",
        "type": "function",
        "z": "c6fc9d1be46665f8",
        "g": "a320af0c6b890805",
        "name": "set url = \"loginpost\";",
        "func": "msg.url = \"loginpost\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 444,
        "y": 360,
        "wires": [
            [
                "6b0d3d8c69049587"
            ]
        ]
    },
    {
        "id": "6b0d3d8c69049587",
        "type": "template",
        "z": "c6fc9d1be46665f8",
        "g": "a320af0c6b890805",
        "name": "CSS",
        "field": "payload.style",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "body {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\nwidth: 100%;\npadding: 12px 20px;\nmargin: 8px 0;\ndisplay: inline-block;\nborder: 1px solid #ccc;\nbox-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\nbackground-color: #04AA6D;\ncolor: white;\npadding: 14px 20px;\nmargin: 8px 0;\nborder: none;\ncursor: pointer;\nwidth: 100%;\n}\n\nbutton:hover {\nopacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\nwidth: auto;\npadding: 10px 18px;\nbackground-color: #f44336;\nborder-radius: 10%;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\ntext-align: center;\nmargin: 24px 0 12px 0;\nposition: relative;\n}\n\nimg.avatar {\nwidth: 40%;\nborder-radius: 5%;\n}\n\n.container {\npadding: 16px;\n}\n\nspan.psw {\nfloat: right;\npadding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\ndisplay: none; /* Hidden by default */\nposition: fixed; /* Stay in place */\nz-index: 1; /* Sit on top */\nleft: 0;\ntop: 0;\nwidth: 100%; /* Full width */\nheight: 100%; /* Full height */\noverflow: auto; /* Enable scroll if needed */\nbackground-color: rgb(0,0,0); /* Fallback color */\nbackground-color: rgba(0,0,0,0.4); /* Black w/ opacity */\npadding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\nbackground-color: #fefefe;\nmargin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\nborder: 1px solid #888;\nwidth: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\nposition: absolute;\nright: 25px;\ntop: 0;\ncolor: #000;\nfont-size: 35px;\nfont-weight: bold;\n}\n\n.close:hover,\n.close:focus {\ncolor: red;\ncursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n-webkit-animation: animatezoom 0.6s;\nanimation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\nfrom {-webkit-transform: scale(0)}\nto {-webkit-transform: scale(1)}\n}\n\n@keyframes animatezoom {\nfrom {transform: scale(0)}\nto {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\nspan.psw {\ndisplay: block;\nfloat: none;\n}\n.cancelbtn {\nwidth: 100%;\n}\n}",
        "x": 690,
        "y": 360,
        "wires": [
            [
                "4f7e76f9d41e0253"
            ]
        ]
    },
    {
        "id": "87ae852e249148c6",
        "type": "http response",
        "z": "c6fc9d1be46665f8",
        "g": "a320af0c6b890805",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 360,
        "wires": []
    },
    {
        "id": "4f7e76f9d41e0253",
        "type": "template",
        "z": "c6fc9d1be46665f8",
        "g": "a320af0c6b890805",
        "name": "HTML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n  <!-- Required meta tags -->\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n  <meta name=\"description\" content=\"We are experts in everything related to IBM i.\">\n  <meta name=\"keywords\" content=\"IBM i, FormaServe, Training, RPG, SQL, PHP, NodeJS, AS400, iSeries, Open-Source Node.js PHP Node-RED\">\n  <meta name=\"author\" content=\"FormaServe Systems Ltd\">\n\n  <title>FormaServe</title>\n  \n<style>{{{payload.style}}}</style>\n</head>\n\n<body>\n<div class=\"container\">\n<br>\n<h2>Login Form</h2>\n\n<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Click to Login</button>\n</div>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/loginpost\" method=\"post\">\n  \n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"https://www.formaserve.co.uk/_graphics/logo_1.png\" alt=\"fss-logo\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"uname\"><b>Username</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"uname\" required>\n\n      <label for=\"psw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n        \n      <button type=\"submit\">Login</button>\n      <label>\n        <input type=\"checkbox\" checked=\"checked\" name=\"remember\"> Remember me\n      </label>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n      <span class=\"psw\">Forgot <a href=\"#\">password?</a></span>\n    </div>\n  </form>\n</div>\n\n<script>\n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n</script>\n\n</body>\n</html>\n",
        "x": 870,
        "y": 360,
        "wires": [
            [
                "87ae852e249148c6"
            ]
        ]
    },
    {
        "id": "f2e07ac7765d4cfc",
        "type": "http in",
        "z": "c6fc9d1be46665f8",
        "g": "f715f925abc29239",
        "name": "",
        "url": "/loginpost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "c2df1750564bf4bf",
                "c136f78c142d52c1"
            ]
        ]
    },
    {
        "id": "c2df1750564bf4bf",
        "type": "debug",
        "z": "c6fc9d1be46665f8",
        "g": "f715f925abc29239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 580,
        "wires": []
    },
    {
        "id": "a5b83d206e3ac20a",
        "type": "http response",
        "z": "c6fc9d1be46665f8",
        "g": "f715f925abc29239",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 520,
        "wires": []
    },
    {
        "id": "6bbd88c650bcc29c",
        "type": "function",
        "z": "c6fc9d1be46665f8",
        "g": "f715f925abc29239",
        "name": "build payload to client",
        "func": "msg.payload = 'The msg.payload contains: ' +msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 520,
        "wires": [
            [
                "a5b83d206e3ac20a"
            ]
        ]
    },
    {
        "id": "c136f78c142d52c1",
        "type": "json",
        "z": "c6fc9d1be46665f8",
        "g": "f715f925abc29239",
        "name": "Convert Post",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 443.33333333333326,
        "y": 520,
        "wires": [
            [
                "6bbd88c650bcc29c"
            ]
        ]
    }
]
